.headText() {
            padding-top: 1.7%;
            font-weight: bold;
            color: white;
            text-align: center;
}

.button() {
    background-color: #659DBD;
    color: white;
    height: 12%;
    width: 40%; 
    border-radius: 15px;
    border-color: #659DBD;
    font-size: 1.8rem;

    &:hover {
        background-color: white;
        border-color: white;
        color: #659DBD;
    }//this closes the hover
}//this closes the button

// .git-button-odd() {
//     background-color: #659DBD;
//     color: white;
//     // height: 12%;
//     // width: 40%; 
//     border-radius: 15px;
//     border-color: #659DBD;
//     font-size: 1.8rem;

//     &:hover {
//         background-color: white;
//         border-color: white;
//         color: #659DBD;
//     }//this closes the hover
// }//this closes the button

// .git-button-even() {
//     background-color: white;
//     color: #659DBD;
//     // height: 12%;
//     // width: 40%; 
//     border-radius: 15px;
//     border-color: white;
//     font-size: 1.8rem;

//     &:hover {
//         background-color: #659DBD;
//         border-color: #659DBD;
//         color: white;
//     }//this closes the hover
// }//this closes the button